.max-h-10-px {
	max-height: 10 px !important;
}

.max-h-20-px {
	max-height: 20 px !important;
}

.max-h-30-px {
	max-height: 30 px !important;
}

.max-h-40-px {
	max-height: 40 px !important;
}

.max-h-50-px {
	max-height: 50 px !important;
}

.max-h-60-px {
	max-height: 60 px !important;
}

.max-h-70-px {
	max-height: 70 px !important;
}

.max-h-80-px {
	max-height: 80 px !important;
}

.max-h-90-px {
	max-height: 90 px !important;
}

.max-h-100-px {
	max-height: 100 px !important;
}

.max-h-200-px {
	max-height: 200 px !important;
}

.max-h-300-px {
	max-height: 300 px !important;
}

.max-h-400-px {
	max-height: 400 px !important;
}

.max-h-500-px {
	max-height: 500 px !important;
}

.max-h-600-px {
	max-height: 600 px !important;
}

.max-h-700-px {
	max-height: 700 px !important;
}

.max-h-800-px {
	max-height: 800 px !important;
}

.max-h-900-px {
	max-height: 900 px !important;
}

.max-h-1000-px {
	max-height: 1000 px !important;
}